body
{
	background-color: #003049;
}

a
{
	color: #7EBDC3;
}

.nav
{
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	padding: 7px;
	color: #82846D;
}

.nav:hover
{
	text-decoration: dotted underline;
}

.chain
{
	border-right: 1px solid #82846D;
}

.container 
{
	display: flex;
}

.leftPane {
	color: #bab079;
	width: 26%;
	height: 100%;
	background-color: #003049;
}

.rightPane 
{
	left: 100px;
	width: 74%;
	height: 100%;
	background-color: #82846D;
	border-radius: 25px;
}

h2
{
	text-align: center;
}

p
{
	padding-left: 10px;
}

.pPadding
{
	padding-left: 10px;
}

img
{
	padding-top: 20px;
	border-radius: 10px;
}

hr
{
	border: 2px solid #82846D;
	border-radius: 2px;
	width: 100%;
}
